@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    width: 100%;
    min-height: 82vh;
    margin-top: 62px;
}
.parentNav{
    width: 100%;
    height: 62px;
    background: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.logoHolder{
    width: 130px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: lightcyan; */
}
.logoHolder .logoText{
    text-decoration: none;
    color: #000;
    font-weight: 800;
    font-size: 28px;
    font-family: 'Cormorant Garamond', serif;
    z-index: 1000;
    border-bottom: none !important;
}
.liHolder{
    list-style-type: none;
}
.liHolder li{
    margin-right: 50px;
    cursor: pointer;
}
.liHolder li:hover .nvLink{
    color: #606260;
}
.liHolder li:last-child{
    margin-right: 5px;
}
.liHolder li .nvLink{
    text-decoration: none;
    color: #000;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 800;
    font-size: 19px;
    padding-bottom: 7px;
}
.active{
    border-bottom: 1px solid #000;
    border-radius: 4px;
}
.sideBarToggler{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 5px;
    right: 10px;
    /* background-color: cadetblue; */
    z-index: 1000;
    opacity: 0;
    padding-right: 7px;
}

.sideBarToggler .upperLine, .middleLine, .lowerLine{
    height: 2.5px;
    border-radius: 50px;
    background-color: #000;
    margin-top: 4px;
    transition: 0.2s ease all;
}
.sideBarToggler 
.upperLine{
    width: 35px;
}
.sideBarToggler 
.middleLine{
    width: 26px;
}
.sideBarToggler 
.lowerLine{
    width: 16px ;
    /* transform: rotate(220deg);
    margin-top: -8.25px; */
}
/* Contact Section CSS */
.contactHeading ,
.servicesHeading ,
.qualitiesHeading {
    font-family: 'Ysabeau SC', sans-serif;
    text-align: center;
}
.myInput{
    width: 100%;
}
.contactTextArea:focus{
    border: 2px solid #42a5f5;
    box-shadow: none;
}
.myFooter{
    width: 100%;
    min-height: 40px;
    /* position: fixed;
    bottom: 0;
    right: 0;
    left: 0; */
    background-color: #5585b5;
    color: whitesmoke;
}
/* Service Section CSS */
.serviceCard{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.2s ease-in-out;
}
.serviceCard:hover{
    transform: scale(1.06);
}
/* home-section-css */
.heroSectionHeading{
    font-family: 'Cinzel', serif;
    font-weight: 900;
}
.revolutionWord{
    color: #0066b2;
    font-family: 'Cinzel', serif;
    font-weight: 800;
}
.lowerText{
    color: lightslategray;
}
.heroSectionImg{
    width: 500px;
    height: 450px;
}
.heroSectionImg img{
    mix-blend-mode: multiply;
}
/* Qualities Section-CSS */
.qualitiesFlexer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.bannerSection{
    padding-top: 35px;
}
.myCard{
    width: 17rem;
    min-height: 10rem;
    background-color: #fff;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.cardNo{
    font-family: 'Monoton', cursive;
    font-size: 100px;
    color: #5585b5;
    opacity: 0.4;
    
}
.cardInfo{
    font-family: 'Cinzel', serif;   
    color: lightslategray;
    animation-duration: 10s;
}
/* Person-Section-CSS */
/* .backgroundSection{
    margin-top: 0px !important;
    background-image: url(./images/heroPerson.jpeg);
    object-fit: cover;
    object-position: center center;
    background-size: cover;
    padding-bottom: 600px;
    width: 100%;
} */
.backgroundSection{
    min-height: 0vh;
    border-top: 1px solid lightgray;
    position: relative;
}
.personPointerImg{
    object-fit: cover;
    object-position: center center;
    background-repeat: no-repeat;
}
.bgSectionTextHolder{
    position: absolute;
    top: 25%;
    left: 2%;
}
.waitingHeading{
    font-family: 'Cinzel', serif;
    font-weight: 900;
    font-size: 40px;
    color: lightslategray
}
.catchyText{
    color: #0066b2;
    font-size: 50px;
}

.availingBtn{
    border-radius: 25px !important;
}
@media only screen and (max-width:768px){
    .sideBarHolder{
        width: 250px;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #5585b5;
        transform: translateX(250px);
        transition: 0.5s cubic-bezier(0.645,0.045,0.355,1);
    }
    .liHolder{
        flex-direction: column;
        margin-top: 62px;
        padding-bottom: 10px;
        /* padding-left: 25px; */
    }
    .liHolder li{
        margin-top: 25px;
        border-bottom: 1px solid whitesmoke;
        padding-bottom: 8px;
    }
    .active{
        border-bottom: none;
        border-radius: none;    
    }
    .sideBarToggler{
        opacity: 1;
    }
    .heroFlexer{
        flex-direction: column-reverse;
    }
    .heroSectionHolder{
        padding: 40px 0px 60px 0px;
    }
    .heroSectionText{
        padding: 60px 0px 60px 20px;
    }
    .waitingHeading{
        font-size: 30px;
    }
    .catchyText{
        font-size: 35px;
    }
}
@media only screen and (max-width:576px){
    .waitingHeading{
        font-size: 26px;
    }
    .catchyText{
        font-size: 30px;
    }
}